body {
  font-family: sans-serif;
  color: #172b4d;
  background-image: url(Images/ProfessionalImage.jpg);
  background-repeat: repeat;
  background-size: cover;
  align-items: start;
}
#app{
  display:flex;
  width: auto;
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px;
}
.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgba(0,0,0,.12);
  color: hsla(0,0%,100%,.8);
}
.board {
  display: flex;
  width: auto;
  height:fit-content
}
.divs {
  margin-top:8px;
  width:200px;
  padding:4px;
  margin-top:4px;
}
   
.Inputtype{
  border-radius: 5px;
  padding:4px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  color: rgb(8, 9, 10);
  box-shadow: none;
}
.deletefun{
  display:inline;
  border:1px solid black;
}
.headingvalue{
  display:inline-block;
}
.newbutton {
  background-color: #2f80ed;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.dragging{
    opacity: 0.5;
}
  .list {
    width: 230px;
    margin: 8px;
    background-color: #ebecf0;
    border-radius: 4px;
    padding: 8px;
  }
    .card {
    background-color: #fff;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
  }
  .cardx{
    float:right;
    margin-top:7px;
    margin-right:5px;
  /* margin-left:90%; */
  }
  .cardx:hover{
    color:red;
    }
  .card:hover {
    background-color: #f5f5f5;
  }
  
  .add-card-button {

    background-color: #2f80ed;
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    /* margin-top: 8px;
    cursor: pointer;
    color: #0079bf; */
  }

  .trelloBoard
  {
    font-family:system-ui, -apple-system;
    font-weight:700px;
    font-size: 30px;
    color:#6681A0;
    font-style: normal;
    display: block !important;
  }
  
/* CSS */
.AddboardClass {
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.AddboardClass:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.AddboardClass:hover:after {
  opacity: .5;
}

.AddboardClass:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.AddboardClass:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .AddboardClass {
    padding: 14px 22px;
    width: 176px;
  }
}

.spanx{
  justify-content: right;
  margin-left: 50px;
  margin-top:15px;
  position: absolute; 
}

.spanx:hover{
  color:red;
  animation: rotate 1s linear;
}

@keyframes rotate{
  50%{
      transform: rotate(180deg);
  }
}